---
import { getCollection } from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import More from '../components/More.astro';
import WorkCard from '../components/WorkCard.astro';
import ArticleList from '../components/ArticleList.astro';

const works = await getCollection('works', (w) => w.data.pinned);
---

<Base title={null}>
  <Header />
  <Hero />
  <main>
    <Section>
      <h2 id="me">About Me</h2>
      <p>東京都出身、北海道札幌市在住の20さい。</p>
      <p>北海道大学 工学部 情報エレクトロニクス学科の 2 年生。</p>
      <p>ウェブフロントエンドからインフラ周りまでいろいろすき。</p>
      <More href="/me">私について もっと見る</More>
    </Section>
    <Section>
      <h2 id="works">Works</h2>
      <div class="works-container">
        {
          works
            .sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
            .map((work) => <WorkCard work={work} />)
        }
        <div class="works-spacer"></div>
      </div>
      <More href="/works">つくったものをもっと見る</More>
    </Section>
    <Section>
      <h2 id="articles">Articles</h2>
      <ArticleList />
    </Section>
    <Section>
      <h2 id="contact">Contact</h2>
      <a href="mailto:contact@su8ru.dev" class="contact-link">
        <svg
          viewBox="0 0 16 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
        >
          <path
            d="M.5 2.5A1.5 1.5 0 012 1h12a1.5 1.5 0 011.5 1.5v1.208L8 7.926.5 3.708V2.5z"
            fill="currentColor"
          >
          </path>
          <path
            d="M.5 4.855V12.5A1.5 1.5 0 002 14h12a1.5 1.5 0 001.5-1.5V4.855L8 9.074.5 4.854z"
            fill="currentColor"
          >
          </path>
        </svg>
        contact@su8ru.dev
      </a>
    </Section>
    <Footer />
  </main>

  <style>
    main {
      background: var(--bg-color);
      color: var(--text-color);
      padding-top: 72px;
      border-radius: 32px 32px 0 0;
    }
    h2 {
      padding-top: 80px;
      margin-top: -80px;
    }
    .works-container {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 16px;
      margin-top: 32px;
    }
    .works-spacer {
      height: 0;
      flex-grow: 1;
      flex-basis: 300px;
    }
    .contact-link {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.05rem;
      color: var(--text-color);
      margin-top: 16px;
    }
  </style>

  <style is:global>
    body {
      font-family: Inter, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
        'Hiragino Sans', Meiryo, sans-serif;
      min-height: 100dvh;
      background: radial-gradient(
        circle 400svh at 50% 300dvh,
        #f1aca0 40%,
        #1e2335 55%,
        #0d101b 70%
      );
    }
  </style>
</Base>
