---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
---

<Base title={null}>
  <Hero />
  <main>
    <Section>
      <h2>About Me</h2>
    </Section>
    <Section>
      <h2>Works</h2>
    </Section>
    <Section>
      <h2>Articles</h2>
    </Section>
  </main>
</Base>

<style>
  main {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 32px;
    border-radius: 32px 32px 0 0;
  }
</style>
