---
import Common from '../layouts/Common.astro';
import Section from '../components/Section.astro';
---

<Common title="About Me">
  <main>
    <Section>
      <h2>About Me / 私について。</h2>
    </Section>
  </main>
</Common>

<style>
  main {
    padding-top: 72px;
  }
</style>
