.button {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  border: none;
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.button:hover {
  background: var(--su8ru-accent-hover);
}
.icon {
  margin-top: -1px;
}
.label {
  font-weight: 400;
}
