.button {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  border: none;
  background: transparent;
  border: 1px solid rgb(var(--text-color-rgb) / 0.4);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.button:hover {
  background: rgb(var(--accent-color-rgb) / 0.04);
}
.icon {
  margin-top: -1px;
}
.label {
  font-weight: 500;
}
