---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <svg
    viewBox="0 0 15 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    width="15"
    height="15"
  >
    <path d="M1.5 7.5l4-4m-4 4l4 4m-4-4H14"></path>
  </svg>
  <slot />
</a>

<style>
  a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
    border: 2px solid var(--text-color);
    border-radius: 12px;
    margin-top: 16px;
    font-weight: 500;
  }
  a:hover {
    border-color: var(--su8ru-accennt-dark);
    color: var(--su8ru-accent-dark);
  }
  svg {
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 2px;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
</style>
