---

---

<footer>
  <div class="container">
    <div class="copy">
      <p>Avatar by yukki____01.</p>
      <p>&copy; 2024 subaru</p>
    </div>
  </div>
</footer>

<style>
  footer {
    background: #d4dce0;
    color: #272a2c;
    padding: 16px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .copy {
    text-align: center;
    font-size: 0.9rem;
  }
</style>
