---
import ToggleThemeButton from './ToggleThemeButton.astro';
import { Image } from 'astro:assets';
import IconImage from '../images/icon.png';
---

<header>
  <div class="container">
    <a href="/">
      <Image
        src={IconImage}
        alt="subaru's icon"
        width="32"
        class="icon"
        densities={[1, 2, 3]}
        loading="eager"
      />
      <h1>subaru</h1>
    </a>
    <div class="spacer"></div>
    <ToggleThemeButton />
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0 0 32px 32px;
    z-index: 1000;
  }
  .container {
    max-width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 12px 16px;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  .icon {
    margin: 8px;
  }
  h1 {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    margin-left: 8px;
    color: var(--text-color);
  }
  .spacer {
    flex-grow: 1;
  }
</style>
