<div class="hero">
  <h1>subaru</h1>
  <p>Web App Developer</p>
</div>

<style>
  .hero {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 500;
  }
</style>
