---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
  <svg
    viewBox="0 0 15 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
  >
    <path d="M13.5 7.5l-4-4m4 4l-4 4m4-4H1"></path>
  </svg>
</a>

<style>
  a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    font-weight: 500;
  }
  a:hover {
    color: var(--su8ru-accent);
  }
  svg {
    display: inline-block;
    margin-bottom: -2px;
    margin-left: 2px;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
</style>
