---
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';

interface Props {
  title: string | null;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title === null ? 'su8ru' : `${title} | su8ru`}</title>
    <meta name="viewport" content="width=device-width" />
    <script is:inline>
      const lsTheme = localStorage.getItem('theme');
      const isDark =
        lsTheme === null
          ? window.matchMedia('(prefers-color-scheme: dark)').matches
          : lsTheme === 'dark';
      isDark
        ? document.documentElement.classList.add('dark')
        : document.documentElement.classList.remove('dark');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    color-scheme: light;
    --text-color: #272a2c;
    --text-color-rgb: 39 42 44;
    --bg-color: #d4dce0;
    --bg-color-rgb: 212 220 224;
    --accent-color: #128cbd;
    --highlight-color: #db3c59;
  }
  html.dark {
    color-scheme: dark;
    --text-color: #ecf0f3;
    --text-color-rgb: 236 240 243;
    --bg-color: #141618;
    --bg-color-rgb: 20 22 24;
    --accent-color: #7cceee;
  }
  body {
    font-family: Inter, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
      'Hiragino Sans', Meiryo, sans-serif;
    min-height: 100dvh;
    background: var(--bg-color);
    color: var(--text-color);
  }
</style>

<!-- reset css -->
<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
</style>

<style is:global>
  h1,
  h2 {
    font-weight: 500;
  }
  h2 {
    font-size: 1.5rem;
    margin: 16px 0;
  }
  p {
    line-height: 2;
  }
  p + p {
    margin-top: 8px;
  }

  .rlc-container {
    display: flex;
    height: 120px;
    border: 1px solid rgb(var(--text-color-rgb) / 0.4);
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
    border-radius: 12px;
    word-break: break-all;
    margin-top: 8px;
  }
  .rlc-info {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  .rlc-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .rlc-url-container {
    display: flex;
    gap: 4px;
  }
  .rlc-url {
    font-size: 0.9rem;
    line-height: 16px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .rlc-image-container {
    height: 100%;
    flex-shrink: 0;
  }
  .rlc-image {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  @media (max-width: 700px) {
    .rlc-image {
      aspect-ratio: 1 / 1;
    }
  }
</style>
