---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';

interface Props {
  title: string | null;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title === null ? 'su8ru' : `${title} | su8ru`}</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    color-scheme: light;
    --text-color: #272a2c;
    --bg-color: #d4dce0;
  }
  html.dark {
    color-scheme: dark;
    --text-color: #ecf0f3;
    --bg-color: #171c1f;
  }
  body {
    font-family: Inter, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
      'Hiragino Sans', Meiryo, sans-serif;
    background: radial-gradient(
      circle 400svh at 50% 300dvh,
      #e98f7f 45%,
      #adbed1 55%,
      #a9c2f8 70%
    );
  }
  .dark body {
    background: radial-gradient(
      circle 400svh at 50% 300dvh,
      #f1aca0 40%,
      #1e2335 55%,
      #0d101b 70%
    );
  }
</style>

<!-- reset css -->
<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
</style>

<style is:global>
  h1,
  h2 {
    font-weight: 500;
  }
</style>
